# catch-alls
* text=auto

# text
*.kotlin_module diff text

*.bash eol=lf
*.java eol=lf
*.kt eol=lf
*.ts eol=lf
*.js eol=lf
*.scss eol=lf
*.css eol=lf
*.json eol=lf

# binary
*.7z binary

.browserslistrc eol=lf
